---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">{{ site.data.home.intro.heading }}</div>
          <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
        </div>
      </div>
    </header>

    <!-- Problem -->
    <section id="problem">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">{{ site.data.home.problem.heading }}</h3>
            <h3 class="section-subheading text-muted">{{ site.data.home.problem.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>{{ site.data.home.problem.text }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Targets -->
    <section class="bg-light-gray" id="targets">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">{{ site.data.home.targets.heading }}</h3>
            <h3 class="section-subheading text-muted">{{ site.data.home.targets.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>{{ site.data.home.targets.text }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Tasks -->
    <section id="tasks">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">{{ site.data.home.tasks.heading }}</h3>
            <h3 class="section-subheading text-muted">{{ site.data.home.tasks.subheading  }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <ul class="timeline">
              {%- for time in site.data.home.tasks.timeline -%}
              {% assign ws = '' %}
              <li{% cycle '', ' class="timeline-inverted"' %} >
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{{ assets_path }}{{ time.image }}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{ time.date }}</h4>
                    <h4 class="subheading">{{ time.title }}</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">{{ time.text  }}</p>
                  </div>
                </div>
              </li>
              {%- endfor -%}
              {% assign ws = '' %}
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Event format -->
    <section id="event-format">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">{{ site.data.home.event_format.heading }}</h3>
            <h3 class="section-subheading text-muted">{{ site.data.home.event_format.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>{{ site.data.home.event_format.text }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Event plan -->
    <section id="event-plan" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">{{ site.data.home.event_plan.heading }}</h3>
            <h3 class="section-subheading text-muted">{{ site.data.home.event_plan.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>{{ site.data.home.event_plan.text }}</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">{{ site.data.home.team.heading }}</h3>
            <h3 class="section-subheading text-muted">{{ site.data.home.team.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          {%- for member in site.data.home.team.members -%}
          {% assign ws = '' %}
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ assets_path }}{{ member.img }}" alt="">
              <h4>{{ member.name }}</h4>
              <p class="text-muted">{{ member.role }}</p>
              <ul class="list-inline social-buttons">
                {%- for sm in member.social-buttons -%}
                {% assign ws = '' %}
                <li class="list-inline-item">
                  <a href="{{ sm.url }}" target="_blank">
                    <i class="{{ sm.icon }}"></i>
                  </a>
                </li>
                {%- endfor -%}
              {% assign ws = '' %}
              </ul>
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">{{ site.data.home.team.text }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Video -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <div class="video">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/nTdi3nzQxcE?rel=0" allowfullscreen="" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.portfolio.heading }}</h2>
          </div>
        </div>
        <div class="row">
          {%- for artwork_hash in site.data.artworks -%}
          {% assign ws = '' %}
          {% assign artwork = artwork_hash[1] %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ artwork.title }}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ artwork.thumbnail }}" alt="">
            </a>
          </div>
          {%- endfor -%}
          {% assign ws = '' %}
        </div>
      </div>
    </section>
